.contact-container {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
}

.get-in-touch {
    width: 50%;
    height: 100%;
    background-color: red;
}

.send-msg {
    background-color: #f0f0f0;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.send-msg h2 {
    text-align: center;
    padding: 10px;
    font-size: 30px;
    font-weight: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.send-contanier {
    width: 100%;
    height: 95%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.send-msg input,
.send-msg textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 16px;
    background-color: white;
}

.send-msg button {
    background-color: orangered;
    color: rgb(255, 255, 255);
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    width: 30%;
    margin-left: 30%;
    margin-top: 20px;
}

.note {
    font-size: 1.1rem;
    color: #646262;
    text-align: center;
    margin-top: 15px;
}

#name,
#email,
#message {
    border-left: rgb(0, 0, 0);
    border-right: black;
    border-top: black;
}


/* media query for responsiveness */

@media (max-width:770px) {
    .contact-container {
        flex-direction: column;
    }

    .get-in-touch {
        width: 100%;
    }

    .send-msg {
        width: 100%;
    }

    .send-contanier {
        width: 99%;
        height: 100%;
        background-color: #ffffff;
        border-radius: 20px;
        padding: 30px;
    }

    .note {
        font-size: .8rem;
        color: #313030;
        text-align: center;
        margin-top: 2px;
    }

    .send-msg button {
        margin-left: 50%;
        width: 40%;
        margin-bottom: 15px;
    }
}