*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
     background-color: antiquewhite;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.head{
    display: flex;
    height: 70vh;
    width: 90vw;
    
  
}
.main{
  
  width: 50vw;
  background-color: rgb(255, 255, 255); 
}

.heading{
    margin-top: 3rem;
    font-family: sans-serif;
    text-align: center;
    color: #2bbbad;
}
.social_handles{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}
.social{
    font-weight: bold;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: none;
    
}
.line{
    text-align: center;
    margin-top: 20px;
}
.line > h3{
  font-size:1rem;
  font-weight: lighter;
  opacity: 0.5;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#first{
    width: 25vw;
    min-width:  15rem;
    margin-top: 10px;
   border: 1px solid #ddd;
    padding: 10px;
    background-color: #f5f4f4;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    
}

#second{
    width: 25vw;
    min-width:  15rem;
    margin-top: 10px;
   border: 1px solid #ddd;
   padding: 10px;
   background-color: #f5f4f4;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}
.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fp{
    /* width: 15vw; */
    background-color: #fdfcfc;
    border: none;
    /* text-align: center; */
    
}

.sign{
    text-align: center;
    border: none;
    background-color:#2bbbad;
    width: 50px;
    min-width: 12vw;
    /* margin-left: 5vw; */
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 7px;
    color: white;
    border-radius: 20px;
}
.left{
    width: 40vw;
    background-color: #2bbbad;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7rem;
    /* justify-content: center; */
}
.heading2{
  
    color: white;
    font-family: sans-serif;
    margin-top: 20px;
    width: 30vw;
    text-align: center;
}
.para{ 
    margin-top: 20px;
    font-family: sans-serif;
    color: white;
}
.button2>button{
    margin-top: 20px;
    width: 15vw;
    padding: 7px;
    border-radius: 20px;
    border: 1.5px solid white;
    background-color: #2bbbad;
    color: white;
}
@media (max-width: 558px) {
    .head {
        flex-direction: column;
        width: 90vw;
    }
   .main,.left {
        width: 100%;
        padding: 24px;
        text-align: center;
    } 
}
